
/*--------------------------------------------------------------
# Admin input
--------------------------------------------------------------*/

.widgets-holder-wrap .widget .custom-css-build-in{
    display: none;
}
.widgets-holder-wrap #sidebar-home .widget .custom-css-build-in{
    display: block;
}
.w-admin-input-wrap::after {
    clear: both;
    content: "";
    display: block;
}
.w-admin-input-wrap {
    margin-top: 15px;
}

.w-admin-input-wrap:last-child {
    margin-bottom: 15px;
}

.w-admin-input-wrap a {
    text-decoration: none;
}

.w-admin-input-wrap label {
    display: block;
    margin-top: 12px;
}

.w-admin-input-wrap input[type='text'],
.w-admin-input-wrap input[type='email'],
.w-admin-input-wrap input[type='number'],
.w-admin-input-wrap input[type='phone'],
.w-admin-input-wrap input[type='password'],
.w-admin-input-wrap input[type='url'],
.w-admin-input-wrap input[type='number'],
.w-admin-input-wrap select,
.w-admin-input-wrap textarea {
    padding: 8px 10px;
    display: block;
    width: 100%;
    box-shadow: none;
}

.w-admin-input-wrap select,
.w-admin-input-wrap input[type='number'] {
    height: 38px;
}

.w-admin-input-wrap img {
    max-width: calc( 100% - 115px );
    height: auto;
    margin-bottom: 15px;

    border: 6px solid #fff;
    box-shadow: 0 0 1px #ccc;
}

.w-img-upload {
    margin: 0 96px;
    padding: 8px 20px;

    cursor: pointer;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;


    border: 2px dashed #ddd;
    border-radius: 3px;
    outline: none !important;
    background: #fdfdfd;
    font-weight: bold;
    font-size: 13px;
    text-transform: capitalize;
    color: #888;
}

.w-img-upload:hover {
    border-color: #888;
    color: #555;
}

.w-admin-radio-wrap {
    margin-top: -30px;
    padding-left: 102px;
}

.w-admin-slider-wrap,
.w-admin-logos-wrap {
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin-top: 15px;
    background: #fdfdfd;
}

.w-admin-slider-wrap:last-child,
.w-admin-logos-wrap:last-child {
    margin-bottom: 15px;
}

.w-admin-testimonials {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.w-admin-testimonials textarea {
    min-height: 100px;
}



/* Repeatable widget items */
.w-repeatable {
    margin: 10px 0px;
}
.list-filters {
    border: 1px solid #ededed;
    padding: 10px;
    background: #ffffff;
    margin: 10px 0px;
}
.list-item {
    border: 1px solid #ededed;
    padding: 10px;
    background: #f5f5f5;
    margin-bottom: 10px;
    position: relative;
}
.list-item:last-child {
    margin-bottom: 0px;
}
.list-item .list-item-title {
    cursor: pointer;
}
.list-item .list-item-title:before {
    content: "\f333";
    font-family: dashicons;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 4px;
    cursor: move;
}

.list-item:after {
    clear: both;
    content: "";
    display: block;
}

.list-item label {
    float: right;
    margin-right: 30px;
}
.list-item .remove {
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
.list-item .remove:before {
    content: "\f335";
    font-family: dashicons;
}