// main: style.scss

.content-area {
    margin: 35px 0px;
    &.front-page {
        margin-bottom: 0px;
    }
    .site-main {
        padding: 20px;
        background: #fff;
    }
    @include clearfixAfter();
    &.has-sidebar {
        @include for-screen( tablet-min ) {
            .site-main {
                width: 70%;
                float: left;
            }
            .widget-area {
                width: 30%;
                padding-left: 30px;
                float: right;
            }
        }

    }
}

.page-no-margin {
    .content-area {
        margin: 0px;
    }
}
