// main: style.scss

.mc4wp-form {
    input[name="EMAIL"] {
        padding: 10px;
        border: 0px none !important;
        position: relative;
        margin-top: 10px;
        background: rgba( 255, 255, 255, .15 );
        color: #999999;
    }
}
