// main: style.scss

.container {
    @include clearfixAfter();
}

@for $i from 1 through 12 {
    .eq-row-col-#{$i} {
        margin-left: -15px;
        margin-right: -15px;
        .eq-col {
            padding-left: 15px;
            padding-right: 15px;
        }
        @include for-screen( tablet-min ) {
            .eq-col {
                width: percentage( ( 12 /$i ) / 12  );
                float: left;
                &:nth-child(#{$i}n+1) {
                	clear: left;
                }

            }
        };

        @include for-screen( phone-max ) {
            .eq-col {
                width: 50%;
                float: left;
                &:nth-child(2n+1) {
                	clear: left;
                }

            }
        };




    }
}
