// main: style.scss

/**
 * _fonts.scss
 * Custom WooCommerce fonts.
 */
@font-face {
	font-family: 'star';
	src: url('../fonts/star.eot');
	src: url('../fonts/star.eot?#iefix') format('embedded-opentype'),
		url('../fonts/star.woff') format('woff'),
		url('../fonts/star.ttf') format('truetype'),
		url('../fonts/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WooCommerce';
	src: url('../fonts/WooCommerce.eot');
	src: url('../fonts/WooCommerce.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WooCommerce.woff') format('woff'),
		url('../fonts/WooCommerce.ttf') format('truetype'),
		url('../fonts/WooCommerce.svg#WooCommerce') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**
 * Star ratings
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1;
	font-size: 1em;
	width: 5.4em;
	font-family: 'star';

	&::before {
		content: '\73\73\73\73\73';
		color: darken( $secondary, 10% );
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span::before {
		content: '\53\53\53\53\53';
		top: 0;
		position: absolute;
		left: 0;
	}
}


.product {
	display: block;
	position: relative;
	.woocommerce-LoopProduct-link {
		display: block;
		position: relative;
		&:hover {
			text-decoration: none;
		}
	}
	.onsale {
		position: absolute;
		top: 15px;
		left: 15px;
		@include rem( 'font-size', 16px );
		@include rem( 'line-height', 16px );
		text-transform: uppercase;
		background: $primary;
		color: #fff;
		padding: 10px 10px;;
	}
	.woocommerce-loop-product__title {
		color: $text;
	}
	/* Product thumbnail */
	.product-thumbnail {
		margin-bottom: 20px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.star-rating {
		display: block;
		color: $primary;
	}
	.price {
		@include rem( 'font-size', 16px );
		//font-weight: bold;
		text-transform: uppercase;
		display: block;
		color: $text;
		del {
			color: #999;
		}
		del, ins {
			display: block;
			background: none;
		}
	}
	.product-btns {
		position: absolute;
		top: 15px;
		right: 15px;
		visibility: hidden;
		opacity: 0;
		@include transition( .5s ease-in-out );
		.add-cart-wrap {
			display: block;
			overflow: hidden;
			width: 35px;
			height: 35px;
			position: relative;

			.add_to_cart_button {
				&.added {
					opacity: 0;
					display: none;
				}
			}
			.added_to_cart.wc-forward {
				&::before {
					@include font-icon( '"\\f07a"' );
					background: $primary_hover;
					color: #fff;
				}
			}
		}

		.add_to_cart_button, .added_to_cart, .add_to_wishlist,
		.yith-wcwl-wishlistexistsbrowse a,
		.yith-wcwl-wishlistaddedbrowse a {
			display: block;
			overflow: hidden;
			width: 35px;
			height: 35px;

			&:before {
				text-indent: 0;
				float: left;
				width: 35px;
				height: 35px;
				background: #fff;
				color: #666;
				@include rem( 'font-size', 20px );
				@include rem( 'line-height', 35px );
				display: block;
				text-align: center;
				vertical-align: middle;
				border-radius: 50%;
			}

		}
		.add_to_cart_button {
			//margin-left: -50px;
			&:before {
				@include font-icon( '"\\f217"' );
			}
		}

		.add_to_wishlist {
			//right: 0px;
			&:before {
				//margin-right: -30px;
				@include font-icon( '"\\f08a"' );
			}
		}
		.yith-wcwl-add-to-wishlist {
			.feedback {
				display: none;
			}
		}
		.yith-wcwl-add-button {
			.ajax-loading {
				display: none;
			}
		}

		.yith-wcwl-wishlistaddedbrowse,
		.yith-wcwl-wishlistexistsbrowse {
			span {
				display: none;
			}
			a {
				&:before {
					@include font-icon( '"\\f004"' );
					background: $primary_hover;
					color: #fff;
				}
			}
		}
	}
	&:hover {
		.product-btns {
			opacity: 1;
			visibility: visible;
		}
	}


}
