// main: style.scss


.woocommerce {

	div.product {
		display: block;
		position: relative;
		.woocommerce-LoopProduct-link {
			display: block;
			position: relative;
			&:hover {
				text-decoration: none;
			}
		}
		.onsale {
			position: absolute;
			top: 15px;
			left: 15px;
			@include rem( 'font-size', 16px );
			@include rem( 'line-height', 16px );
			text-transform: uppercase;
			background: $primary;
			color: #fff;
			padding: 10px 10px;;
		}
		.woocommerce-loop-product__title {
			color: $text;
		}
		/* Product thumbnail */
		.product-thumbnail {
			margin-bottom: 20px;
			img {
				width: 100%;
				height: auto;
			}
		}
		.star-rating {
			display: block;
			color: $primary;
		}
		span.price {
			//@include rem( 'font-size', 16px );
			//font-weight: bold;
			text-transform: uppercase;
			display: block;
			color: $text;
			del {
				color: #999;
			}
			del, ins {
				display: block;
				background: none;
			}
		}
		.product-btns {
			position: absolute;
			top: 15px;
			right: 15px;
			visibility: hidden;
			opacity: 0;
			@include transition( all .6s ease-in-out );
			.add-cart-wrap {
				display: block;
				overflow: hidden;
				width: 35px;
				height: 35px;
				position: relative;

				.add_to_cart_button {
					&.added {
						opacity: 0;
						display: none;
					}
				}
				.added_to_cart.wc-forward {
					&::before {
						@include font-icon( '"\\f00c"' );
						background: $primary_hover;
						color: #fff;
					}
				}
			}

			.add_to_cart_button, .added_to_cart, .add_to_wishlist,
			.yith-wcwl-wishlistexistsbrowse a,
			.yith-wcwl-wishlistaddedbrowse a {
				display: block;
				overflow: hidden;
				width: 35px;
				height: 35px;
				padding: 0px;
				background: none;
				border-radius: 50%;
				text-indent: -99999px;
				position: relative;

				&:hover {
					background: none;
				}

				&.loading {
					opacity: 1 !important;
					&::after{
						display: block;
						border-radius: 50%;
						top: 0px;
						left: 0px;
						right: 0px;
						border: 0px none;
						opacity: 1 !important;
					}
					&:before {
						opacity: 0;
						visibility: hidden;
					}
				}


				&:before, &:after {
					text-indent: 0;
					float: left;
					width: 35px;
					height: 35px;
					background: #fff;
					color: #666;
					@include rem( 'font-size', 20px );
					@include rem( 'line-height', 35px );
					text-align: center;
					vertical-align: middle;
					border-radius: 50%;
					color: $text;
					border: 0px none;

				}
				&:before {
					display: block;
				}

				&:after {
					display: none;
				}

			}
			.add_to_cart_button {
				//margin-left: -50px;
				&:before {
					@include font-icon( '"\\f217"' );
				}
			}

			.add_to_wishlist {
				//right: 0px;
				&:before {
					//margin-right: -30px;
					@include font-icon( '"\\f08a"' );
				}
			}
			.yith-wcwl-add-to-wishlist {
				.feedback {
					display: none;
				}
			}
			.yith-wcwl-add-button {
				.ajax-loading {
					display: none;
				}
			}

			.yith-wcwl-wishlistaddedbrowse,
			.yith-wcwl-wishlistexistsbrowse {
				span {
					display: none;
				}
				a {
					&:before {
						@include font-icon( '"\\f004"' );
						background: $primary_hover;
						color: #fff;
					}
				}
			}
		}
		&:hover {
			.product-btns {
				opacity: 1;
				visibility: visible;
			}
		}


	}

	/* Shopping cart */
	.widget_shopping_cart_content {
		.cart_list {
			margin: 0px;

			li {
				position: relative;
				margin-bottom: 15px;
				display: block;
				.wp-post-image {
					width: 50px;
					height: auto;
					float: left;
					margin-right: 10px;
				}
				a {
					//display: block;
					text-align: left;
					margin-right: 15px;

				}
				.quantity {
					float: left;
				}
				.remove {
					position: absolute;
					font-size: 20px;
					right: 0px;
					top: 0;
					display: block;
					text-align: center;
					margin-right: 0px;

				}
				list-style: none;
				@include clearfixAfter();
				&.empty {
					text-align: center;
				}
			}
		}

		.buttons {
			margin: 0px;
			text-align: center;
			.button {
				margin: 0px 10px;
			}
		}

	}
}
