

@import "variables";

/**
 * Layout
 */
.woocommerce, .woocommerce-page {

	// pages
	&.woocommerce-wishlist,
	&.woocommerce-checkout,
	&.woocommerce-cart {
		.page-title {
			text-align: center;
		}
		.site-content {
			max-width: 740px;
		}
	}

	&.woocommerce-account {
		.page-title {
			text-align: center;
		}
		.site-content {
			max-width: 960px;
		}
	}

	.woocommerce-message,
	.woocommerce-error,
	.woocommerce-info {
		.button {
			float: right;
		}
	}

	/**
	 * General layout styles
	 */
	.col2-set {
		@include clearfixAfter();
		width: 100%;
		.col-2, .col-1 {
			width: 100%;
			max-width: 100%;
			padding: 0px;
		}

	}
	.woocommerce-billing-fields {
		width: 100%;
	}

	img {
		height: auto;
		max-width: 100%;
	}

	/**
	 * Product page
	 */
	div.product,
	#content div.product {
		div.images {
			float: left;
			width: 48%;
		}

		div.thumbnails {
			@include clearfix();

			a {
				float: left;
				width: 30.75%;
				margin-right: 3.8%;
				margin-bottom: 1em;
			}

			a.last {
				margin-right: 0;
			}

			a.first {
				clear: both;
			}

			&.columns-1 {
				a {
					width: 100%;
					margin-right: 0;
					float: none;
				}
			}

			&.columns-2 {
				a {
					width: 48%;
				}
			}

			&.columns-4 {
				a {
					width: 22.05%;
				}
			}

			&.columns-5 {
				a {
					width: 16.9%;
				}
			}
		}

		div.summary {
			float: right;
			width: 48%;
		}

		.woocommerce-tabs {
			clear: both;

		}
	}

	.woocommerce-result-count {
		float: left;
	}
	.woocommerce-ordering {
		float: right;
	}


	/**
	 * Cart page
	 */
	table.cart,
	#content table.cart {
		img {
			height: auto;
		}

		td.actions {
			text-align: right;

			.input-text {
				width: 80px;
			}

			.coupon {
				float: left;

				label {
					display: none;
				}
			}
		}
	}

	.cart-collaterals {
		@include clearfix();
		width: 100%;




	}


	/**
	 * Forms
	 */
	form {
		.form-row {
			@include clearfixAfter();

			label {
				display: block;

				&.checkbox {
					display: inline;
				}
			}

			select {
				width: 100%;
			}

			.input-text {
				box-sizing: border-box;
				width: 100%;
			}
		}

		.form-row-first,
		.form-row-last {
			width: 47%;
			overflow: visible;
		}

		.form-row-first {
			float: left;

			/*rtl:raw:
			float: right;
			*/
		}

		.form-row-last {
			float: right;
		}

		.form-row-wide {
			clear: both;
		}
	}

	#payment {
		.form-row {
			select {
				width: auto;
			}
		}

		.wc-terms-and-conditions, .terms {
			text-align: left;
			padding: 0 1em 0 0;
			float:left;
		}

		#place_order {
			float: right;
		}
	}

	.woocommerce-billing-fields,
	.woocommerce-shipping-fields {
		@include clearfix();
	}
}

.woocommerce-account {
	.woocommerce-MyAccount-navigation {
		float: left;
		width: 30%;
		ul {
			display: block;
			padding: 0px;
			border-right: 1px solid #ededed;
			margin-right: -1px;
			li {
				list-style: none;
				&.is-active {
					a {
						color: $primary_hover;
					}
				}
			}
		}
		a {
			color: $text;
			padding: 5px 10px;
			display: block;
		}

	}

	.woocommerce-MyAccount-content {
		float: right;
		width: 70%;
		padding-left: 20px;
		border-left: 1px solid #ededed;
		//margin-left: -1px;
	}
}

.woocommerce {
	fieldset {
		legend {
			@include rem ( font-size, 18px );
			margin-top: 20px;
		}
		border: 0px;
		padding: 0px 0px 20px;
	}
}


.woocommerce {
	.woocommerce-main {
		.products {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
	#page {

		.product, li.product, div.product {
			&.eq-col {
				padding: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				.product-inner {
					padding: 0px;
					position: relative;
				}
			}
			display: block;
			position: relative;
			.woocommerce-LoopProduct-link {
				display: block;
				position: relative;
				&:hover {
					text-decoration: none;
				}
			}
			.onsale {
				position: absolute;
				top: 15px;
				left: 15px;
				right: auto;
				@include rem( 'font-size', 16px );
				@include rem( 'line-height', 16px );
				text-transform: uppercase;
				background: $primary;
				color: #fff;
				padding: 10px 10px;
				z-index: 15;
			}
			.woocommerce-loop-product__title {
				color: $text;
			}
			/* Product thumbnail */
			.product-thumbnail {
				margin-bottom: 10px;
				img {
					width: 100%;
					height: auto;
					margin-bottom: 0px;
				}
			}
			.star-rating {
				display: block;
				color: $primary;
			}
			span.price, p.price, .price {

				//font-weight: bold;
				text-transform: uppercase;
				display: block;
				color: $text;

				del {
					color: #999;
				}
				del, ins {
					background: none;
					///font-weight: normal;
				}

			}
			span.price {
				@include rem( 'font-size', 18px );
				del, ins {
					display: block;
					font-weight: normal;
				}
			}
			p.price {
				@include rem( 'font-size', 22px );
				font-weight: bold;
			}

			.product-btns {
				position: absolute;
				top: 15px;
				right: 15px;
				visibility: hidden;
				opacity: 0;
				@include transition( all .6s ease-in-out );
				.add-cart-wrap {
					display: block;
					overflow: hidden;
					width: 35px;
					height: 35px;
					position: relative;

					.add_to_cart_button {
						&.added {
							opacity: 0;
							display: none;
						}
					}
					.added_to_cart.wc-forward {
						&::before {
							@include font-icon( '"\\f00c"' );
							background: $primary_hover;
							color: #fff;
						}
					}
				}

				.add_to_cart_button, .added_to_cart, .add_to_wishlist,
				.yith-wcwl-wishlistexistsbrowse a,
				.yith-wcwl-wishlistaddedbrowse a,
				.product_type_external {
					display: block;
					overflow: hidden;
					width: 35px;
					height: 35px;
					padding: 0px;
					margin: 0px;
					background: none;
					border-radius: 50%;
					text-indent: -99999px;
					position: relative;

					&:hover {
						background: none;
					}

					&.loading {
						opacity: 1 !important;
						&::after{
							display: block;
							border-radius: 50%;
							top: 0px;
							left: 0px;
							right: 0px;
							border: 0px none;
							opacity: 1 !important;
						}
						&:before {
							opacity: 0;
							visibility: hidden;
						}
					}


					&:before, &:after {
						text-indent: 0;
						float: left;
						width: 35px;
						height: 35px;
						background: #fff;
						color: #666;
						@include rem( 'font-size', 20px );
						@include rem( 'line-height', 35px );
						text-align: center;
						vertical-align: middle;
						border-radius: 50%;
						color: $text;
						border: 0px none;

					}
					&:before {
						display: block;
					}

					&:after {
						display: none;
					}

				}
				.add_to_cart_button, .product_type_external {
					//margin-left: -50px;
					&:before {
						@include font-icon( '"\\f217"' );
					}
				}

				.add_to_wishlist {
					//right: 0px;
					&:before {
						//margin-right: -30px;
						@include font-icon( '"\\f08a"' );
					}
				}
				.yith-wcwl-add-to-wishlist {
					.feedback {
						display: none;
					}
				}
				.yith-wcwl-add-button {
					.ajax-loading {
						display: none;
					}
				}

				.yith-wcwl-wishlistaddedbrowse,
				.yith-wcwl-wishlistexistsbrowse {
					span {
						display: none;
					}
					a {
						&:before {
							@include font-icon( '"\\f004"' );
							background: $primary_hover;
							color: #fff;
						}
					}
				}
			}
			&:hover {
				.product-btns {
					opacity: 1;
					visibility: visible;
				}
			}


		}

		/* Shopping cart */
		.widget_shopping_cart_content {
			.cart_list {
				margin: 0px;

				li {
					position: relative;
					margin-bottom: 15px;
					display: block;
					.wp-post-image {
						width: 50px;
						height: auto;
						float: left;
						margin-right: 10px;
					}
					a {
						//display: block;
						text-align: left;
						margin-right: 15px;

					}
					.quantity {
						float: left;
					}
					.remove {
						position: absolute;
						font-size: 20px;
						right: 0px;
						top: 0;
						display: block;
						text-align: center;
						margin-right: 0px;

					}
					list-style: none;
					@include clearfixAfter();
					&.empty {
						text-align: center;
					}
				}
			}

			.buttons {
				margin: 0px;
				text-align: center;
				.button {
					margin: 0px 10px;
				}
			}

		}



		// tabs
		.woocommerce-tabs ul.tabs  {
			li {
				@include css3( 'border-radius', 0px !important );
				&.active {
					box-shadow: none;
				}
				&::before, &::after {
					box-shadow: none;
					border-width: 0px !important;
					left: auto !important;
				}
			}
		}

	} // end #page

	.products {
		&.related, &.upsells {
			.products {
				margin-left: -5px;
				margin-right: -5px;
			}
		}
	}

	/* Single product */
	.woocommerce-product-gallery__wrapper {
		@include clearfixAfter();
		margin-top: 0px;
	}

	.product {
		.flex-control-nav {
			margin-left: -5px !important;
			margin-right: -5px !important;
			li {
				padding: 0px 5px;
			}
		}
	}


	&.single-product {

	}
	.onsale {
		top: 15px;
	}
	/* END Single product */

	/* Buttons */
	#respond input#submit.alt,
	a.button.alt,
	button.button.alt,
	input.button.alt {
		background-color: $primary;
		&:hover {
			background-color: $primary_hover;
		}
	}
	.quantity .qty {
		@include rem ( line-height, 29px );
		font-weight: bold;
	}

	/* END Buttons */


}

.shop-section-title,
.woocommerce-Reviews-title,
.woocommerce-order-details__title,
.woocommerce-customer-details > h2,
.woocommerce-column__title,
.cart_totals h2,
.woocommerce-billing-fields h3,
.woocommerce-additional-fields h3,
#order_review_heading,
.woocommerce-Address h3 {
	@include rem( 'font-size', 18px );
	@include rem( 'line-height', 50px );
	text-transform: uppercase;
}
.select2-container .select2-selection--single {
	height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	margin-top: 1px;
}
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
	padding: 10px 10px;
	margin: 0px;
}
.woocommerce .quantity .qty {
	line-height: 1;
}
.woocommerce table.wishlist_table {
	font-size: 100%;
}
